Repository oracle/opengrok, pull requests merged in 2020-10, with the labels that each got.

#3259 Fail CommandSequence if RESTful call fails
  opengrok-tools/src/main/python/opengrok_tools/sync.py
  opengrok-tools/src/main/python/opengrok_tools/utils/commandsequence.py
  opengrok-tools/src/main/python/opengrok_tools/utils/mirror.py
  opengrok-tools/src/main/python/opengrok_tools/utils/opengrok.py
  opengrok-tools/src/main/python/opengrok_tools/utils/restful.py
  opengrok-tools/src/main/python/opengrok_tools/utils/webutil.py
  opengrok-tools/src/test/python/test_command_sequence.py
  opengrok-tools/src/test/python/test_mirror.py
  opengrok-tools/src/test/python/test_restful.py
Labels: tools

#3266 remove 'Completed in <duration>' message from the UI
  opengrok-web/src/main/webapp/search.jsp
Labels: UI

#3268 Chocolatey switched to Python 3.9
  dev/main
Labels: build

#3261 do not call createCache() unnecessarily
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
Labels: indexer

#3279 use statsd for indexer monitoring
  opengrok-indexer/pom.xml
  opengrok-indexer/src/main/java/org/opengrok/indexer/Metrics.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/ConfigurationHelp.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/StatsdConfig.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/Executor.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/Statistics.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/configuration/StatsdConfigTest.java
  opengrok-web/src/main/java/org/opengrok/web/StatisticsFilter.java
  opengrok-web/src/main/java/org/opengrok/web/WebappListener.java
  opengrok-web/src/main/java/org/opengrok/web/servlet/MetricsServlet.java
Labels: indexer, monitoring

#3286 increasing the max line length for python tools checkstyle
  opengrok-tools/pom.xml
Labels: tools

#3293 better debug messages in LdapFilterPlugin and LdapUser
  plugins/src/main/java/opengrok/auth/entity/LdapUser.java
  plugins/src/main/java/opengrok/auth/plugin/LdapFilterPlugin.java
Labels: authorization

#3314 disable the Coverity addon, causes TLS black hole
  .travis.yml
Labels: build

#3318 set user prior to commit
  opengrok-tools/src/test/python/test_mirror.py
Labels: tools

#3321 adjust log levels in LdapFilterPlugin
  plugins/src/main/java/opengrok/auth/plugin/LdapFilterPlugin.java
Labels: authorization

#3329 upgrade Maven PMD plugin to 3.13.0
  pom.xml
Labels: build

#3338 compute suggester rebuild duration correctly
  suggester/src/main/java/org/opengrok/suggest/Suggester.java
Labels: monitoring, suggester

#3341 Matrix os build
  .github/workflows/build.yml
Labels: build, enhancement
