Repository oracle/opengrok, pull requests merged in 2021-04, with the labels that each got.

#3520 fail early if web app URI is not reachable
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/HostUtil.java
Labels: indexer

#3537 check source and data root access
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
Labels: indexer

#3540 disable merge commits by default
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
Labels: indexer

#3545 LdapServerTest redux
  plugins/src/test/java/opengrok/auth/plugin/LdapServerTest.java
Labels: testing

#3557 Use label for minisearch's "current directory" checkbox
  opengrok-web/src/main/webapp/minisearch.jspf
Labels: UI

#3556 add port and REST endpoint to trigger reindex
  Dockerfile
  docker/README.md
  docker/start.py
Labels: docker

#3563 run reindex if period is 0
  docker/README.md
  docker/start.py
Labels: docker

#3564 add link to project property documentation
  apiary.apib
Labels: API
