Repository oracle/opengrok, pull requests merged in 2021-09, with the labels that each got.

#3714 fix opengrok-mirror configuration check in the presence of overridden commands
  tools/src/main/python/opengrok_tools/scm/cvs.py
  tools/src/main/python/opengrok_tools/scm/git.py
  tools/src/main/python/opengrok_tools/scm/mercurial.py
  tools/src/main/python/opengrok_tools/scm/perforce.py
  tools/src/main/python/opengrok_tools/scm/repo.py
  tools/src/main/python/opengrok_tools/scm/repofactory.py
  tools/src/main/python/opengrok_tools/scm/repository.py
  tools/src/main/python/opengrok_tools/scm/svn.py
  tools/src/main/python/opengrok_tools/scm/teamware.py
  tools/src/main/python/opengrok_tools/utils/mirror.py
  tools/src/test/python/test_mirror.py
Labels: docker

#3715 replace HashSet with concurrent set in PendingFileCompleter
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/PendingFileCompleter.java
Labels: indexer

#3717 Fix header overflow
  opengrok-web/src/main/java/org/opengrok/web/Scripts.java
  opengrok-web/src/main/webapp/js/utils-0.0.43.js
Labels: UI

#3716 Use header and footer html5 tags
  opengrok-web/src/main/webapp/eforbidden.jsp
  opengrok-web/src/main/webapp/enoent.jsp
  opengrok-web/src/main/webapp/error.jsp
  opengrok-web/src/main/webapp/foot.jspf
  opengrok-web/src/main/webapp/help.jsp
  opengrok-web/src/main/webapp/history.jsp
  opengrok-web/src/main/webapp/index.jsp
  opengrok-web/src/main/webapp/mast.jsp
  opengrok-web/src/main/webapp/minisearch.jspf
  opengrok-web/src/main/webapp/pageheader.jspf
  opengrok-web/src/main/webapp/search.jsp
  opengrok-web/src/main/webapp/settings.jsp
  opengrok-web/src/main/webapp/status.jsp
Labels: UI

#3719 change Jakarta EE namespace to suit Tomcat 10
  tools/setup.cfg
  tools/src/main/python/opengrok_tools/utils/xml.py
  tools/src/test/python/new.xml
  tools/src/test/python/test_xml.py
  tools/src/test/python/web.xml
Labels: tools

#3724 always create mirror.conf
  docker/start.py
Labels: docker

#3725 Enable literalMidWordUnderscores option in Showdown
  opengrok-web/src/main/java/org/opengrok/web/Scripts.java
  opengrok-web/src/main/webapp/js/utils-0.0.44.js
Labels: UI

#3726 lucene 8.10.0
  pom.xml
Labels: dependencies
