Repository oracle/opengrok, pull requests merged in 2021-06, with the labels that each got.

#3619 deal with read_config() for empty YAML file properly
  tools/src/main/python/opengrok_tools/utils/readconfig.py
  tools/src/test/python/test_readconfig.py
Labels: tools

#3621 Fix "on the fly" xref generation for empty revisions
  opengrok-web/src/main/webapp/xref.jspf
Labels: webapp

#3623 PageConfig#getLastRevFromHistory() should work with history efficiently
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/GitRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/Repository.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/MercurialRepositoryTest.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
Labels: webapp

#3626 use try-with-resources on the Reader
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/Util.java
Labels: webapp

#3629 deal with symlinks when sorting directory entries
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
  opengrok-web/src/test/java/org/opengrok/web/PageConfigTest.java
Labels: UI

#3634 Fix NPE when source or data root are not provided
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
Labels: indexer

#3642 Add user-specific settings page
  opengrok-web/src/main/java/org/opengrok/web/Scripts.java
  opengrok-web/src/main/webapp/default/style-1.0.3.css
  opengrok-web/src/main/webapp/httpheader.jspf
  opengrok-web/src/main/webapp/js/utils-0.0.41.js
  opengrok-web/src/main/webapp/menu.jspf
  opengrok-web/src/main/webapp/settings.jsp
Labels: enhancement, suggester, webapp

#3647 bump history cache chunk counts and make it tunable
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/BoundaryChangesets.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/GitRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialRepository.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/BoundaryChangesetsTest.java
Labels: indexer

#3651 check None from get_configuration()
  docker/start.py
  tools/src/main/python/opengrok_tools/reindex_project.py
Labels: docker

#3652 log the actual HTTP error from requests
  tools/src/main/python/opengrok_tools/utils/opengrok.py
Labels: tools

#3654 Fix suggester display of hiragana terms
  opengrok-web/src/main/java/org/opengrok/web/Scripts.java
  opengrok-web/src/main/webapp/js/utils-0.0.42.js
Labels: suggester

#3653 Avoid repository invalidation with --checkIndex
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexCheck.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexCheckTest.java
Labels: indexer
