Repository oracle/opengrok, pull requests merged in 2021-08, with the labels that each got.

#3690 Fix clicking on revision in annotation mode returns 400
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/GitRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/Util.java
Labels: bug, webapp

#3687 Use Dockerfile linter
  Dockerfile
  dev/docker.sh
Labels: build, docker

#3695 add more details about the /projects/{project}/indexed endpoint
  apiary.apib
Labels: API

#3696 allow directory in commands
  tools/src/main/python/opengrok_tools/utils/mirror.py
  tools/src/test/python/test_mirror.py
Labels: tools
