Repository oracle/opengrok, pull requests merged in 2021-07, with the labels that each got.

#3662 Remove build dependency on svn
  .gitattributes
  opengrok-indexer/build.xml
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/FileHistoryCacheTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexerTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/search/context/SearchAndContextFormatterTest.java
  opengrok-indexer/src/test/resources/history/svnlog.dump
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/ProjectsControllerTest.java
  testdata/repositories/cvs_test/cvsrepo/CVS/Root
Labels: build

#3670 Remove unused tomcat.servlet.context.path pom variable
  opengrok-web/pom.xml
Labels: build

#3672 Fix missing email addresses in go xref
  opengrok-indexer/src/main/jflex/analysis/golang/GolangXref.lex
  opengrok-indexer/src/test/java/org/opengrok/indexer/analysis/golang/GolangXrefTest.java
  opengrok-indexer/src/test/resources/analysis/golang/email.go
  opengrok-indexer/src/test/resources/analysis/golang/email_xref.html
Labels: indexer

#3669 Fix testRemoveFileOnFileChange test
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
Labels: testing

#3676 check mirror config in Docker
  docker/start.py
  tools/src/main/python/opengrok_tools/mirror.py
Labels: docker

#3679 avoid warning in case of mkdirs() races
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
Labels: indexer
