Repository oracle/opengrok, pull requests merged in 2021-05, with the labels that each got.

#3567 attempt at graceful exit in Docker
  docker/start.py
Labels: docker

#3572 publish Docker image for non release builds as well
  dev/docker.sh
Labels: docker

#3575 take projects into account when generating bare config
  docker/start.py
Labels: docker

#3577 handle SIG{TERM,INT} in Docker
  docker/start.py
Labels: docker

#3579 rework reindex/sync event triggers in Docker
  docker/start.py
Labels: docker

#3586 Fix subrepository display on Windows
  opengrok-web/src/main/webapp/WEB-INF/tags/repository.tag
Labels: UI, bug

#3598 handle exceptions from rmtree() gracefully
  tools/src/main/python/opengrok_tools/projadm.py
Labels: tools

#3599 print added repositories
  tools/src/main/python/opengrok_tools/projadm.py
Labels: tools

#3600 do not start timeout thread with 0 period
  docker/start.py
Labels: docker

#3604 fix path filtering for Git
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/GitRepository.java
  opengrok-web/src/test/java/org/opengrok/web/PageConfigTest.java
Labels: webapp

#3606 Update maven plugins
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
Labels: build, dependencies

#3608 move log message to Repository
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/Repository.java
Labels: indexer

#3609 Refactored IndexerTest to use conditional test execution annotation
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexerTest.java
Labels: testing

#3611 Use provided scope for jetbrains annotations
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  pom.xml
  suggester/pom.xml
Labels: build, dependencies

#3613 check None config
  tools/src/main/python/opengrok_tools/reindex_project.py
Labels: tools

#3616 ignore FileNotFoundError when deleting project sources
  tools/src/main/python/opengrok_tools/projadm.py
Labels: tools
