Repository oracle/opengrok, pull requests merged in 2022-10, with the labels that each got.

#4041 Fix check if url root is 'source'
  docker/start.py
Labels: OCA Verified

#4049 use Condition instead of Event for periodic event
  docker/periodic_timer.py
  docker/start.py
Labels: docker, OCA Verified

#4055 check env more thoroughly when uploading Docker hub README
  .github/workflows/docker.yml
  dev/dockerhub_readme.py
Labels: docker, OCA Verified

#4061 add opengrok-mirror tunable to ignore a project
  tools/src/main/python/opengrok_tools/utils/mirror.py
  tools/src/test/python/test_mirror.py
Labels: tools, OCA Verified

#4062 add ignore property to project configuration check
  tools/src/main/python/opengrok_tools/utils/mirror.py
Labels: tools

#4067 fix event handling in Docker (redux)
  docker/periodic_timer.py
  docker/start.py
Labels: docker, OCA Verified

#4071 fix some javadoc warnings
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/NumLinesLOCAggregator.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/NumLinesLOCUtil.java
Labels: build, OCA Verified

#4073 disable pytest-xdist for now
  tools/setup.cfg
  tools/setup.py
Labels: build, tools, OCA Verified

#4074 remove double quotes in log message in FileAnnotationCache
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileAnnotationCache.java
Labels: indexer, OCA Verified

#4079 use Tomcat 10.0 in Docker image
  Dockerfile
Labels: docker, OCA Verified

#4080 check Tomcat version during webapp deploy
  opengrok-web/src/main/java/org/opengrok/web/WebappListener.java
Labels: webapp, OCA Verified

#4083 decrease log level for annotation problems
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AccuRevAnnotationParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/BazaarAnnotationParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/CVSAnnotationParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialAnnotationParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/PerforceAnnotationParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RCSAnnotationParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/SSCMRepository.java
Labels: indexer, OCA Verified
