Repository oracle/opengrok, pull requests merged in 2023-10, with the labels that each got.

#4418 lucene 9.8.0
  pom.xml
Labels: OCA Verified

#4419 Removed unused assignment
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/StrictLineBreakIterator.java
Labels: OCA Verified

#4421 Upgrade Chronicle-Map
  distribution/pom.xml
  opengrok-web/pom.xml
  pom.xml
  suggester/pom.xml
  suggester/src/main/java/org/opengrok/suggest/popular/impl/chronicle/BytesRefDataAccess.java
Labels: OCA Verified

#4424 wait for all the futures in fillLastHistoryEntries() to complete
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
Labels: webapp, OCA Verified

#4425 upgrade jstl and chronicle-map
  opengrok-web/pom.xml
  pom.xml
  suggester/pom.xml
  suggester/src/main/java/org/opengrok/suggest/popular/impl/chronicle/BytesRefDataAccess.java
Labels: OCA Verified

#4431 rework do_sync() tests
  tools/src/main/python/opengrok_tools/sync.py
  tools/src/test/python/test_sync.py
Labels: tools, testing, OCA Verified

#4442 tidy IndexCheck and improve its testing
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Project.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexCheck.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexCheckException.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDocumentException.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexVersionException.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexCheckTest.java
  opengrok-web/src/main/java/org/opengrok/web/WebappListener.java
Labels: testing, OCA Verified

#4440 return right away from getHistory() if repository cannot be found
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
Labels: webapp, OCA Verified

#4446 always refresh the list of repositories for projects
  apiary.apib
  docker/start.py
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/ProjectsControllerTest.java
Labels: docker, OCA Verified

#4450 Sonar code smell issue fixes
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerGuruHelp.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ada/AdaLexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/archive/BZip2Analyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/archive/ZipMatcherBase.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/perl/PerlLexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/plain/XMLAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ruby/RubyLexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/verilog/VerilogLexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/authorization/AuthorizationEntity.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/authorization/AuthorizationPlugin.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AccuRevHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AccuRevRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AnnotationData.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AnnotationLine.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/BazaarRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/ClearCaseRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/DirectoryHistoryReader.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RCSHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RCSRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RazorHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RazorRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryLookupCached.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryLookupUncached.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/Context.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/StrictLineBreakIterator.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/BoundedBlockingObjectPool.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/ClassUtil.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/Executor.java
  opengrok-web/src/main/java/org/opengrok/web/AuthorizationFilter.java
  opengrok-web/src/main/java/org/opengrok/web/DirectoryListing.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
  opengrok-web/src/main/java/org/opengrok/web/StatisticsFilter.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/RestApp.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/ConfigurationController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/DirectoryListingController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/FileController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/GroupsController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/HistoryController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/StatusController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/provider/service/impl/SuggesterServiceImpl.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/query/SuggesterQueryParser.java
  plugins/src/main/java/opengrok/auth/plugin/UserPlugin.java
  plugins/src/main/java/opengrok/auth/plugin/decoders/OSSOHeaderDecoder.java
  plugins/src/main/java/opengrok/auth/plugin/decoders/UserDecoderException.java
  plugins/src/main/java/opengrok/auth/plugin/entity/User.java
  plugins/src/main/java/opengrok/auth/plugin/ldap/LdapException.java
  plugins/src/main/java/opengrok/auth/plugin/ldap/LdapFacade.java
  plugins/src/main/java/opengrok/auth/plugin/ldap/LdapServer.java
Labels: OCA Verified

#4451 check commands structure with None values
  tools/src/main/python/opengrok_tools/utils/commandsequence.py
  tools/src/test/python/test_command_sequence.py
Labels: tools, OCA Verified

#4455 Sonar Code Smell issue fixes
  opengrok-indexer/src/main/java/org/opengrok/indexer/Info.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/VersionInfoLoadException.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ada/AdaAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ada/AdaLexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/archive/BZip2Analyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/asm/AsmAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/c/CAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/c/CxxAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/clojure/ClojureAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/csharp/CSharpAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/eiffel/EiffelAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/erlang/ErlangAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/fortran/FortranAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/golang/GolangAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/haskell/HaskellAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/hcl/HCLAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/java/JavaAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/javascript/JavaScriptAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/json/JsonAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/kotlin/KotlinAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/lisp/LispAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/lua/LuaAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/pascal/PascalAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/perl/PerlAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/php/PhpAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/plain/AbstractSourceCodeAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/python/PythonAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/r/RAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ruby/RubyAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/rust/RustAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/scala/ScalaAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/sh/ShAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/sql/PLSQLAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/sql/SQLAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/swift/SwiftAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/tcl/TclAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/terraform/TerraformAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/typescript/TypeScriptAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/vb/Consts.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/vb/VBAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/verilog/VerilogAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/yaml/YamlAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/authorization/AuthorizationEntity.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/authorization/AuthorizationStack.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AccuRevHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AccuRevRepository.java
Labels: OCA Verified

#4456 Handle history cache failures
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/GitRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryCacheResultsTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryGuruTest.java
Labels: indexer, OCA Verified

#4458 propagate the error from finishStore() rather than log it
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
Labels: indexer, OCA Verified

#4457 opengrok web project code smell fixes
  opengrok-web/src/main/java/org/opengrok/web/Scripts.java
  opengrok-web/src/main/java/org/opengrok/web/StatisticsFilter.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/ProjectsController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/SuggesterController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/filter/PathAuthorizationFilter.java
  opengrok-web/src/main/webapp/default/jquery.autocomplete.css
  opengrok-web/src/main/webapp/default/jquery.combo.css
  opengrok-web/src/main/webapp/default/mandoc-1.0.0.css
  opengrok-web/src/main/webapp/default/print-1.0.2.css
  opengrok-web/src/main/webapp/default/style-1.0.4.css
  opengrok-web/src/main/webapp/diff.jsp
  opengrok-web/src/main/webapp/history.jsp
  opengrok-web/src/main/webapp/js/searchable-option-list-2.0.16.js
  opengrok-web/src/main/webapp/js/tablesorter-parsers-0.0.4.js
  opengrok-web/src/main/webapp/js/utils-0.0.47.js
Labels: OCA Verified
