Repository oracle/opengrok, pull requests merged in 2023-11, with the labels that each got.

#4460 Fix Sonar codesmell issues
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/Ctags.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/CtagsReader.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/archive/GZIPAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/document/DocumentMatcher.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/authorization/AuthorizationStack.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/ConfigurationHelp.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/ClearCaseRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RazorRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/Repository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/SSCMHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/SubversionAnnotationParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/SubversionHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/SubversionRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/TagEntry.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/Summarizer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/Util.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/analysis/JFlexXrefTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/configuration/ConfigurationTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/configuration/RuntimeEnvironmentTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryCacheResultsTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexerTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/search/context/PassageConverterTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/search/context/PhraseHighlightComparatorTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/web/messages/MessageTest.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
  opengrok-web/src/main/java/org/opengrok/web/ProjectHelper.java
  opengrok-web/src/main/java/org/opengrok/web/WebappError.java
  opengrok-web/src/main/java/org/opengrok/web/WebappListener.java
  opengrok-web/src/main/java/org/opengrok/web/api/ApiTaskManager.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/AnnotationController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/ConfigurationController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/HistoryController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/ProjectsController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/RepositoriesController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/SearchController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/SuggesterController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/SystemController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/filter/IncomingFilter.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/parser/SuggesterQueryDataParser.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/provider/service/impl/SuggesterServiceImpl.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/query/SuggesterQueryParser.java
  opengrok-web/src/main/webapp/default/style-1.0.4.css
  opengrok-web/src/main/webapp/js/searchable-option-list-2.0.16.js
  opengrok-web/src/test/java/org/opengrok/web/api/ApiTaskManagerTest.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/ProjectsControllerTest.java
  plugins/src/main/java/opengrok/auth/plugin/decoders/OSSOHeaderDecoder.java
  suggester/src/main/java/org/opengrok/suggest/Suggester.java
  suggester/src/main/java/org/opengrok/suggest/util/Progress.java
Labels: OCA Verified

#4461 skip inactive history entries when generating history context
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/History.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/HistoryContext.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/search/context/HistoryContextTest.java
Labels: webapp, OCA Verified

#4469 Fix : NPE when displaying a diff
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
  opengrok-web/src/test/java/org/opengrok/web/DiffTest.java
  opengrok-web/src/test/java/org/opengrok/web/PageConfigTest.java
Labels: OCA Verified

#4472 Change commons-io scope from compile to test.
  opengrok-indexer/pom.xml
Labels: OCA Verified

#4466 get rid of setup.py
  .github/workflows/docker.yml
  .gitignore
  tools/LICENSE
  tools/MANIFEST.in
  tools/README.md
  tools/pom.xml
  tools/pyproject.toml
  tools/setup.cfg
  tools/setup.py
  tools/src/main/python/opengrok_tools/utils/utils.py
  tools/src/main/python/opengrok_tools/version.py
  tools/tox.ini
Labels: tools, OCA Verified

#4476 avoid annotations for binary files
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialAnnotationParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/SCCSRepositoryAnnotationParser.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
Labels: indexer, OCA Verified

#4475 use upper limit for output data in Command
  tools/src/main/python/opengrok_tools/utils/command.py
  tools/src/test/python/test_command.py
  tools/src/test/python/test_command_sequence.py
Labels: tools, OCA Verified

#4478 Upgrade PMD and replace deprecated rulesets
  dev/pmd_ruleset.xml
  pom.xml
Labels: OCA Verified

#4477 Upgrade checkstyle and add new rules
  dev/checkstyle/style.xml
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/PathTokenizer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/uue/UuencodeAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/authorization/AuthorizationEntity.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/authorization/AuthorizationPlugin.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/CommandTimeoutType.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AnnotationCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/Cache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RazorHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/Repository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/SCCSHistoryParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexAnalysisSettings.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/QueryBuilder.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/SearchEngine.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/ContextFormatter.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/OGKUnifiedHighlighter.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/PhraseHighlight.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/DTOElement.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/OptionParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/Statistics.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/messages/JSONable.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/messages/Message.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/authorization/AuthorizationEntityTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/authorization/TestPlugin.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/condition/EnabledForRepository.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/condition/RepositoryInstalled.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/search/context/ContextFormatterTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/web/messages/JSONUtils.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
  opengrok-web/src/main/java/org/opengrok/web/ProjectHelper.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/filter/PathAuthorized.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/provider/filter/Authorized.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/provider/filter/Suggester.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/provider/service/SuggesterService.java
  opengrok-web/src/test/java/org/opengrok/web/ProjectHelperExtendedTest.java
  plugins/src/main/java/opengrok/auth/plugin/LdapFilterPlugin.java
  plugins/src/main/java/opengrok/auth/plugin/LdapUserPlugin.java
  plugins/src/main/java/opengrok/auth/plugin/util/Timestamp.java
  pom.xml
  suggester/src/main/java/org/opengrok/suggest/query/SuggesterRangeQuery.java
Labels: OCA Verified

#4482 Fix Github Build Action Badge
  README.md
Labels: OCA Verified

#4489 do not call getSCCSFile() twice
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/SCCSHistoryParser.java
Labels: OCA Verified

#4490 Plugins cleanup
  plugins/src/main/java/opengrok/auth/plugin/LdapUserPlugin.java
  plugins/src/main/java/opengrok/auth/plugin/decoders/FakeOSSOHeaderDecoder.java
  plugins/src/main/java/opengrok/auth/plugin/decoders/OSSOHeaderDecoder.java
  plugins/src/main/java/opengrok/auth/plugin/entity/User.java
  plugins/src/test/java/opengrok/auth/plugin/LdapUserPluginTest.java
  plugins/src/test/java/opengrok/auth/plugin/decoders/OSSODecoderTest.java
  plugins/src/test/java/opengrok/auth/plugin/decoders/UserPrincipalDecoderTest.java
Labels: authorization, OCA Verified

#4494 Removed commented code from css files
  opengrok-web/src/main/webapp/default/jquery.autocomplete.css
  opengrok-web/src/main/webapp/default/jquery.combo.css
  opengrok-web/src/main/webapp/default/jquery.tablesorter.css
  opengrok-web/src/main/webapp/default/print-1.0.2.css
  opengrok-web/src/main/webapp/default/style-1.0.4.css
Labels: OCA Verified

#4495 update Tomcat to 10.1.16
  Dockerfile
Labels: docker, OCA Verified
