Repository oracle/opengrok, pull requests merged in 2023-09, with the labels that each got.

#4409 Added yaml lexer for yaml file analysis
  Dockerfile
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/yaml/Consts.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/yaml/YamlAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/yaml/YamlAnalyzerFactory.java
  opengrok-indexer/src/main/jflex/analysis/yaml/Yaml.lexh
  opengrok-indexer/src/main/jflex/analysis/yaml/YamlSymbolTokenizer.lex
  opengrok-indexer/src/main/jflex/analysis/yaml/YamlXref.lex
  opengrok-indexer/src/test/java/org/opengrok/indexer/analysis/yaml/YamlSymbolTokenizerTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/analysis/yaml/YamlXrefTest.java
  opengrok-indexer/src/test/resources/analysis/yaml/sample.yml
  opengrok-indexer/src/test/resources/analysis/yaml/sample_xref.html
  opengrok-indexer/src/test/resources/analysis/yaml/sampletags
Labels: OCA Required

#4410 make sure HistoryException is thrown for all problems in storeFile()
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
Labels: indexer, OCA Verified

#4413 add explicit index check type
  docker/start.py
Labels: docker, OCA Verified
