Repository oracle/opengrok, pull requests merged in 2023-03, with the labels that each got.

#4191 add documents argument to --indexCheck
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexCheck.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexCheckTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexerVsDeletedDocumentsTest.java
  opengrok-web/src/main/java/org/opengrok/web/WebappListener.java
Labels: indexer, OCA Verified

#4194 Search results debugging
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/Results.java
Labels: webapp, OCA Verified

#4195 commons-io relocated
  opengrok-indexer/pom.xml
  suggester/pom.xml
Labels: build, OCA Verified

#4196 bump dependency check
  pom.xml
Labels: build, OCA Verified

#4197 bump xstream to 1.4.20
  suggester/pom.xml
Labels: suggester, OCA Verified

#4209 check webapp via API call
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexerUtil.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/HostUtil.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/util/HostUtilTest.java
Labels: indexer, OCA Verified

#4212 unify and improve logging in DefaultIndexChangedListener
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/DefaultIndexChangedListener.java
Labels: indexer, OCA Verified

#4215 add quotes for path logging
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/PendingFileCompleter.java
Labels: indexer, OCA Verified

#4214 use connectTimeout for all API calls
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexerUtil.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/ApiUtils.java
  plugins/src/main/java/opengrok/auth/plugin/util/RestfulClient.java
Labels: indexer, OCA Verified

#4216 remove opengrok-$version.jar file from the distribution tarball
  distribution/assembly.xml
Labels: docker, OCA Verified

#4217 use a specific chronicle-analytics version to disable reporting
  suggester/pom.xml
Labels: OCA Verified

#4218 require -R for the --indexCheck
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
Labels: indexer, OCA Verified

#4220 honor connect timeout indexer option for webapp check
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
Labels: indexer, OCA Verified

#4219 actually check duplicate live documents
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexCheck.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexerVsDeletedDocumentsTest.java
Labels: indexer, testing, OCA Verified

#4221 History collector vs merge changesets
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/GitRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/History.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryCollector.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryWithHistoryTraversal.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/TestHistoryCollectorVsMergeChangesets.java
  opengrok-indexer/src/test/resources/history/git-merge.zip
Labels: indexer, OCA Verified

#4228 fix units for the connect timeout
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/HostUtil.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/util/HostUtilTest.java
Labels: indexer, OCA Verified

#4230 introduce more /system endpoints
  apiary.apib
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/HostUtil.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/SystemController.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/SystemControllerTest.java
Labels: API, indexer, OCA Verified

#4232 move dependency check to profile
  pom.xml
Labels: build, OCA Verified

#4235 tools: utils: do not error during directory creation if it exists
  tools/src/main/python/opengrok_tools/utils/utils.py
Labels: OCA Verified

#4237 improve log messages for changeset traversal
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryWithHistoryTraversal.java
Labels: indexer, OCA Verified

#4238 report progress when getting boundary changesets
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/BoundaryChangesets.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/GitRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialHistoryParserRevisionsOnly.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryWithPerPartesHistory.java
Labels: indexer, OCA Verified

#4242 improve progress logging
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
Labels: indexer, OCA Verified

#4245 parallelize projects index check
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java
  opengrok-web/src/main/java/org/opengrok/web/WebappListener.java
Labels: webapp, OCA Verified

#4246 check if file is relative to repository path using File.separator
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/Repository.java
Labels: OCA Verified

#4249 make API timeout settable
  docker/README.md
  docker/start.py
Labels: docker, OCA Verified

#4251 propagate the API timeout to all indexers
  docker/start.py
Labels: docker, OCA Verified

#4258 check command structure more thoroughly
  tools/src/main/python/opengrok_tools/utils/commandsequence.py
Labels: tools, OCA Verified

#4259 add Python checks for Docker scripts
  .github/workflows/docker.yml
  docker/.isort.cfg
  docker/requirements.txt
  docker/start.py
Labels: docker, OCA Verified

#4260 make Tomcat use temporary directory under OpenGrok data root
  docker/start.py
Labels: docker, OCA Verified
