Repository oracle/opengrok, pull requests merged in 2023-05, with the labels that each got.

#4327 avoid double prefix in thread name
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/Ctags.java
Labels: OCA Verified

#4328 use xref timeout for XMLAnalyzer
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/XrefWork.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/plain/PlainAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/plain/XMLAnalyzer.java
Labels: indexer, performance, OCA Verified

#4330 name the ForkJoinPool threads
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/OpenGrokThreadFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexerParallelizer.java
Labels: indexer, OCA Verified

#4341 ensure out.write() is not called with null for path descriptions
  opengrok-web/src/main/java/org/opengrok/web/DirectoryListing.java
  opengrok-web/src/test/java/org/opengrok/web/DirectoryListingTest.java
Labels: UI, OCA Verified

#4343 report progress when initializing/rebuilding suggester
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/provider/service/impl/SuggesterServiceImpl.java
  suggester/src/main/java/org/opengrok/suggest/Suggester.java
  suggester/src/main/java/org/opengrok/suggest/util/Progress.java
  suggester/src/test/java/org/opengrok/suggest/SuggesterTest.java
Labels: suggester, OCA Verified

#4345 lucene 9.6
  pom.xml
Labels: OCA Verified

#4346 current Universal ctags has const support for rust
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/Ctags.java
Labels: indexer, OCA Verified

#4358 order passages in search results based strictly on file offsets
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/ContextArgs.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/OGKUnifiedHighlighter.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/context/OGPassageScorer.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/search/context/PassageScorerTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/search/context/SearchAndContextFormatterTest.java
  opengrok-indexer/src/test/resources/sources/c/sdt.h
Labels: webapp, OCA Verified

#4359 do not contrain open files limit
  docker/sync.yml
Labels: docker, OCA Verified

#4362 add --nolock option to indexer.py
  tools/src/main/python/opengrok_tools/indexer.py
  tools/src/main/python/opengrok_tools/sync.py
Labels: tools, OCA Verified

#4364 support pattern matching ignored project names
  tools/src/main/python/opengrok_tools/sync.py
Labels: tools, OCA Verified
