Repository oracle/opengrok, pull requests merged in 2023-07, with the labels that each got.

#4388 restore Groups command functionality
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Groups.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/configuration/GroupsTest.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/GroupsControllerTest.java
Labels: OCA Verified

#4390 improve suggester logging
  suggester/src/main/java/org/opengrok/suggest/Suggester.java
  suggester/src/main/java/org/opengrok/suggest/SuggesterProjectData.java
Labels: suggester, OCA Verified

#4387 Replace docker.sh script with GitHub Actions
  .github/workflows/docker.yml
  dev/docker.sh
Labels: OCA Verified

#4381 lucene 9.7.0
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/SearchHelper.java
  pom.xml
  suggester/src/main/java/org/opengrok/suggest/SuggesterSearcher.java
  suggester/src/main/java/org/opengrok/suggest/query/SuggesterPhraseQuery.java
  suggester/src/main/java/org/opengrok/suggest/query/customized/CustomPhraseQuery.java
Labels: OCA Verified

#4391 provide tag in search results
  apiary.apib
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/SearchController.java
Labels: API, OCA Verified
