Repository oracle/opengrok, pull requests merged in 2023-04, with the labels that each got.

#4268 convert File History cache serialization to Smile
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AbstractCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/CacheUtil.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryEntry.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryWithHistoryTraversal.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/Progress.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/FileHistoryCacheTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexDatabaseTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexerTest.java
  opengrok-indexer/src/test/resources/history/FileHistoryCache.java.gz
Labels: indexer, OCA Verified

#4269 remove locking when writing cache files
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
Labels: indexer, OCA Verified

#4270 remove leftover test/experiment
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/FileHistoryCacheTest.java
Labels: testing, OCA Verified

#4271 make HistoryGuru#getLastHistoryEntry more efficient
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/LatestRevisionUtil.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/FileHistoryCacheTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryGuruTest.java
Labels: indexer, webapp, OCA Verified

#4274 fix environment propagation in Docker
  docker/start.py
Labels: docker, OCA Verified

#4282 use HistoryGuru#getLastHistoryEntry() in AnalyzerGuru
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerGuru.java
Labels: indexer, OCA Verified

#4286 rescan the repositories in testListFiles()
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/ProjectsControllerTest.java
Labels: testing, OCA Verified

#4289 do not attempt to get history cache for directories
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
Labels: OCA Verified

#4296 enclose directory in single quotes in Executor
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/Executor.java
Labels: OCA Verified

#4298 report progress when adding/invalidating repositories
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
Labels: indexer, OCA Verified

#4300 log the full repository representation
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryInfo.java
Labels: indexer, OCA Verified

#4304 add links to file revisions in side diff view
  opengrok-web/src/main/webapp/diff.jsp
Labels: UI, OCA Verified

#4308 directory listing API
  apiary.apib
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/DirectoryEntry.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/search/DirectoryExtraReader.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/FileExtraZipper.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryGuruTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/web/DummyHttpServletRequest.java
  opengrok-web/src/main/java/org/opengrok/web/DirectoryListing.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
  opengrok-web/src/main/java/org/opengrok/web/api/ApiTaskManager.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/DirectoryListingController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/provider/service/SuggesterService.java
  opengrok-web/src/main/webapp/list.jsp
  opengrok-web/src/main/webapp/xref.jspf
  opengrok-web/src/test/java/org/opengrok/web/PageConfigTest.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/DirectoryListingControllerTest.java
Labels: API, OCA Verified

#4311 avoid NPE in LDAP authorization plugins by checking the attribute first
  plugins/src/main/java/opengrok/auth/plugin/LdapAttrPlugin.java
  plugins/src/main/java/opengrok/auth/plugin/LdapFilterPlugin.java
Labels: authorization, OCA Verified

#4313 Mercurial vs. merge commits
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialRepository.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/MercurialRepositoryTest.java
  opengrok-indexer/src/test/resources/history/hg-merge.bundle
Labels: indexer, OCA Verified

#4314 enable merge commits by default
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
Labels: indexer, OCA Verified

#4306 Changing Groups to Map, fixing #1587 ,I accept the terms of me contributing to this project
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/ConfigurationHelp.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Group.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Groups.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/authorization/AuthorizationEntityTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/configuration/GroupsTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/configuration/RuntimeEnvironmentTest.java
  opengrok-web/src/main/java/org/opengrok/web/ProjectHelper.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/GroupsController.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/ProjectsController.java
  opengrok-web/src/test/java/org/opengrok/web/PageConfigRequestedProjectsTest.java
  opengrok-web/src/test/java/org/opengrok/web/ProjectHelperExtendedTest.java
  opengrok-web/src/test/java/org/opengrok/web/ProjectHelperTest.java
  opengrok-web/src/test/java/org/opengrok/web/ProjectHelperTestBase.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/GroupsControllerTest.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/ProjectsControllerTest.java
Labels: OCA Verified

#4315 add directory listing statistics
  opengrok-web/src/main/webapp/list.jsp
  opengrok-web/src/main/webapp/xref.jspf
Labels: webapp, OCA Verified

#4316 add TreeMap for Groups serialization
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/ConfigurationClassLoader.java
Labels: OCA Verified

#4320 return correct results for configuration API calls
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/ConfigurationController.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/ConfigurationControllerTest.java
Labels: API, OCA Verified

#4324 use the all-or-nothing semantics for filling directory entries
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/FileHistoryCacheTest.java
Labels: indexer, OCA Verified

#4325 parallelize filling directory entries
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileHistoryCache.java
  opengrok-web/src/main/java/org/opengrok/web/WebappListener.java
Labels: OCA Verified

#4326 set name for the ctags error thread
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/Ctags.java
Labels: indexer, OCA Verified
