Repository oracle/opengrok, pull requests merged in 2023-12, with the labels that each got.

#4498 Use SonarCloud for code coverage tracking
  .github/workflows/build.yml
  README.md
  dev/main
  pom.xml
Labels: OCA Verified

#4503 Replace deprecated sonar login parameter in GH Action
  dev/main
Labels: OCA Verified

#4499 Remove unused code from logger util
  opengrok-indexer/src/main/java/org/opengrok/indexer/logger/LoggerUtil.java
Labels: OCA Verified

#4504 switch to docker build to buildx
  dev/docker.sh
Labels: docker, OCA Verified

#4509 avoid truncation when merging config files
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/ConfigMerge.java
  tools/src/main/python/opengrok_tools/config_merge.py
Labels: tools, docker, OCA Verified

#4510 adapt projadm to the current ConfigMerge usage
  tools/src/main/python/opengrok_tools/projadm.py
Labels: tools, OCA Verified

#4511 add API endpoint for getting file definitions
  apiary.apib
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/Definitions.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/FileController.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/FileControllerTest.java
  opengrok-web/src/test/resources/testplugins.jar
Labels: API, OCA Verified

#4505 lucene 9.9.0
  pom.xml
  suggester/src/main/java/org/opengrok/suggest/query/customized/CustomPhraseQuery.java
Labels: OCA Verified

#4518 fix finalName warning and update plugins
  distribution/pom.xml
Labels: build, OCA Verified

#4519 lucene 9.9.1
  pom.xml
Labels: OCA Verified
