Repository oracle/opengrok, pull requests merged in 2024-02, with the labels that each got.

#4532 handle symlinks for history based reindex
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexDatabaseTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexerVsDeletedDocumentsTest.java
Labels: OCA Verified

#4542 Add null guards
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/OpenGrokThreadFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryReader.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexCheck.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/configuration/OpenGrokThreadFactoryTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryReaderTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexCheckTest.java
Labels: OCA Verified

#4539 improve suggester throughput
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/SuggesterConfig.java
  opengrok-web/src/main/java/org/opengrok/web/api/v1/suggester/provider/service/impl/SuggesterServiceImpl.java
  opengrok-web/src/test/java/org/opengrok/web/api/v1/controller/SuggesterControllerProjectsDisabledTest.java
  suggester/src/main/java/org/opengrok/suggest/Suggester.java
  suggester/src/main/java/org/opengrok/suggest/SuggesterProjectData.java
  suggester/src/test/java/org/opengrok/suggest/SuggesterTest.java
Labels: suggester, OCA Verified

#4543 launder logged file paths
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/PathAccepter.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/FileAnnotationCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/LatestRevisionUtil.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/Statistics.java
Labels: Sonar, OCA Verified

#4545 launder and quote yet more paths
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AbstractCache.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/PathUtils.java
Labels: Sonar, OCA Verified

#4547 make the hasAnnotation check more precise
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/FileAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ada/AdaAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/archive/BZip2AnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/archive/GZIPAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/archive/TarAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/archive/ZipAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/asm/AsmAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/c/CAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/c/CxxAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/clojure/ClojureAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/csharp/CSharpAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/data/IgnorantAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/data/ImageAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/document/MandocAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/document/TroffAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/eiffel/EiffelAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/erlang/ErlangAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/executables/ELFAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/executables/JarAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/executables/JavaClassAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/fortran/FortranAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/golang/GolangAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/haskell/HaskellAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/hcl/HCLAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/java/JavaAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/javascript/JavaScriptAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/json/JsonAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/kotlin/KotlinAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/lisp/LispAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/lua/LuaAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/pascal/PascalAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/perl/PerlAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/php/PhpAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/plain/PlainAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/plain/XMLAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/powershell/PowershellAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/python/PythonAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/r/RAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ruby/RubyAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/rust/RustAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/scala/ScalaAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/sh/ShAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/sql/PLSQLAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/sql/SQLAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/swift/SwiftAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/tcl/TclAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/terraform/TerraformAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/typescript/TypeScriptAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/uue/UuencodeAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/vb/VBAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/verilog/VerilogAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/yaml/YamlAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryGuruTest.java
Labels: indexer, webapp, OCA Verified

#4512 Sonar code smell fixes in web package
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/ErrorMessageCollector.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/SearchHelper.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/Util.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/web/messages/MessagesUtils.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/util/ErrorMessageCollectorTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/web/SearchHelperTest.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
Labels: Sonar, OCA Verified
