Repository oracle/opengrok, pull requests merged in 2024-10, with the labels that each got.

#4642 Add support for $ in fortran identifiers and clickable .i include files.
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/fortran/FortranAnalyzerFactory.java
  opengrok-indexer/src/main/jflex/analysis/fortran/Fortran.lexh
  opengrok-indexer/src/main/jflex/analysis/fortran/FortranSymbolTokenizer.lex
  opengrok-indexer/src/main/jflex/analysis/fortran/FortranXref.lex
  opengrok-indexer/src/test/java/org/opengrok/indexer/analysis/fortran/FortranXrefTest.java
  opengrok-indexer/src/test/resources/analysis/fortran/sample.f
  opengrok-indexer/src/test/resources/analysis/fortran/sample_xref.html
  opengrok-indexer/src/test/resources/analysis/fortran/samplesymbols.txt
  opengrok-indexer/src/test/resources/analysis/fortran/sampletags
Labels: OCA Verified

#4669 quote path in log statement
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Configuration.java
Labels: indexer, OCA Verified

#4671 do not constrain the output of the Groups command in opengrok-groups
  dev/before_install
  tools/src/main/python/opengrok_tools/groups.py
  tools/src/main/python/opengrok_tools/utils/command.py
  tools/src/main/python/opengrok_tools/utils/java.py
  tools/src/test/python/test_command.py
Labels: build, tools, OCA Verified

#4672 prepare for 1.13.23
  distribution/pom.xml
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
  suggester/pom.xml
  tools/pom.xml
Labels: OCA Verified

#4677 enforce Java version
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/Indexer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/RuntimeUtil.java
  opengrok-web/src/main/java/org/opengrok/web/WebappListener.java
Labels: indexer, webapp, OCA Verified

#4679 fall back to the default temporary directory for ctags check
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/util/CtagsUtil.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/util/CtagsUtilTest.java
  pom.xml
Labels: indexer, OCA Verified

#4680 prepare for 1.13.24
  distribution/pom.xml
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
  suggester/pom.xml
  tools/pom.xml
Labels: OCA Verified
