Repository oracle/opengrok, pull requests merged in 2024-09, with the labels that each got.

#4639 add tests for web/AuthorizationFilter
  opengrok-web/src/main/java/org/opengrok/web/AuthorizationFilter.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
  opengrok-web/src/test/java/org/opengrok/web/AuthorizationFilterTest.java
Labels: testing, OCA Verified

#4589 indexer: add java options to indexer
  docker/start.py
  tools/src/main/python/opengrok_tools/reindex_project.py
Labels: OCA Verified

#4660 document INDEXER_JAVA_OPTS
  docker/README.md
Labels: docker, OCA Verified

#4659 add tests for Mercurial tag parsing
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialRepository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/MercurialTagParser.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/Repository.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/TagEntry.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/MercurialRepositoryTest.java
Labels: testing, OCA Verified

#4661 prepare for 1.13.21
  distribution/pom.xml
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
  suggester/pom.xml
  tools/pom.xml
Labels: OCA Verified

#4662 avoid calling removeFile() twice in the same block
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
Labels: indexer, OCA Verified

#4665 prepare for 1.13.22
  distribution/pom.xml
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
  suggester/pom.xml
  tools/pom.xml
Labels: OCA Verified
