Repository oracle/opengrok, pull requests merged in 2024-07, with the labels that each got.

#4595 bump Tomcat to 10.1.26
  Dockerfile
Labels: OCA Verified

#4601 remove unused class loaders
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/AnnotationDataClassLoader.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryClassLoader.java
Labels: OCA Verified

#4600 always update to the correct head of Mercurial repositories
  tools/src/main/python/opengrok_tools/scm/mercurial.py
Labels: tools, OCA Verified

#4603 remove extra quotes in mercurial.py
  tools/src/main/python/opengrok_tools/scm/mercurial.py
Labels: tools, OCA Verified

#4605 add the ability to strip outgoing changesets for Mercurial repositories
  .github/workflows/build.yml
  tools/src/main/python/opengrok_tools/scm/mercurial.py
  tools/src/test/python/test_mercurial.py
Labels: tools, OCA Verified

#4615 Docker should in low caps
  .github/dependabot.yml
Labels: docker, OCA Verified
