Repository oracle/opengrok, pull requests merged in 2024-01, with the labels that each got.

#4520 Remove helix-p4d from install list
  Dockerfile
Labels: OCA Verified

#4525 pass output file path instead of file object
  docker/start.py
  tools/src/main/python/opengrok_tools/config_merge.py
Labels: docker, OCA Verified

#4530 Fix typos in CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: OCA Verified

#4533 avoid setting global log level
  logging.properties
  tools/logging.properties.template
Labels: OCA Verified

#4536 do not set default async API timeout in opengrok-projadm
  tools/src/main/python/opengrok_tools/projadm.py
Labels: tools, OCA Verified

#4537 quote paths in CacheUtil logging
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/CacheUtil.java
Labels: OCA Verified

#4540 Lucene 9.9.2
  pom.xml
Labels: OCA Verified

#4541 quote logged paths in PathAccepter
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/PathAccepter.java
Labels: OCA Verified

#4516 fix annotation regression
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/HistoryGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/history/HistoryGuruTest.java
  opengrok-web/src/main/java/org/opengrok/web/PageConfig.java
Labels: webapp, OCA Verified
