Repository oracle/opengrok, pull requests merged in 2025-05, with the labels that each got.

#4758 Add support for OCaml.
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/AnalyzerGuru.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ocaml/Consts.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ocaml/OCamlAnalyzer.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ocaml/OCamlAnalyzerFactory.java
  opengrok-indexer/src/main/java/org/opengrok/indexer/analysis/ocaml/OCamlLexer.java
  opengrok-indexer/src/main/jflex/analysis/ocaml/OCaml.lexh
  opengrok-indexer/src/main/jflex/analysis/ocaml/OCamlSymbolTokenizer.lex
  opengrok-indexer/src/main/jflex/analysis/ocaml/OCamlXref.lex
  opengrok-indexer/src/test/java/org/opengrok/indexer/analysis/ocaml/OCamlSymbolTokenizerTest.java
  opengrok-indexer/src/test/java/org/opengrok/indexer/analysis/ocaml/OCamlXrefTest.java
  opengrok-indexer/src/test/resources/analysis/ocaml/sample.ml
  opengrok-indexer/src/test/resources/analysis/ocaml/sample2.ml
  opengrok-indexer/src/test/resources/analysis/ocaml/sample2_xref.html
  opengrok-indexer/src/test/resources/analysis/ocaml/sample_xref.html
  opengrok-indexer/src/test/resources/analysis/ocaml/sampletags
Labels: OCA Verified

#4771 simplify Project equals()
  opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/Project.java
Labels: OCA Verified

#4774 log project in isReadyForHistoryBasedReindex()
  opengrok-indexer/src/main/java/org/opengrok/indexer/index/IndexDatabase.java
Labels: indexer, OCA Verified

#4776 bump copyright in RepositoryInfo
  opengrok-indexer/src/main/java/org/opengrok/indexer/history/RepositoryInfo.java
Labels: OCA Verified

#4777 quote project name in log entires
  opengrok-web/src/main/java/org/opengrok/web/api/v1/controller/ProjectsController.java
Labels: webapp

#4779 prepare for 1.13.31
  distribution/pom.xml
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
  suggester/pom.xml
  tools/pom.xml
Labels: OCA Verified

#4783 JGit update to 7.2.1
  opengrok-indexer/pom.xml
  opengrok-indexer/src/test/java/org/opengrok/indexer/index/IndexDatabaseTest.java
Labels: OCA Verified

#4784 prepare for 1.13.32
  distribution/pom.xml
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
  suggester/pom.xml
  tools/pom.xml
Labels: OCA Verified

#4786 set the target Java version to 17
  pom.xml
Labels: OCA Verified

#4787 prepare for 1.14.0
  distribution/pom.xml
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
  suggester/pom.xml
  tools/pom.xml
Labels: OCA Verified
