Repository oracle/opengrok, pull requests merged in 2025-01, with the labels that each got.

#4700 check command state before accessing return value
  tools/src/main/python/opengrok_tools/scm/cvs.py
  tools/src/main/python/opengrok_tools/scm/git.py
  tools/src/main/python/opengrok_tools/scm/mercurial.py
  tools/src/main/python/opengrok_tools/scm/repository.py
Labels: tools, OCA Verified

#4689 Fortran indexing broken
  opengrok-indexer/src/main/jflex/analysis/fortran/FortranXref.lex
Labels: OCA Verified

#4702 prepare for 1.13.25
  distribution/pom.xml
  opengrok-indexer/pom.xml
  opengrok-web/pom.xml
  plugins/pom.xml
  pom.xml
  suggester/pom.xml
  tools/pom.xml
Labels: OCA Verified

#4704 specify the path in the configuration load exception
  plugins/src/main/java/opengrok/auth/plugin/AbstractLdapPlugin.java
Labels: authorization, OCA Verified
